{% extends 'base.html' %}

{% block app_content %}
    <h1>Edit Peer Information</h2>

    {% from "_formhelpers.html" import render_field %}
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <dl>
            {{ render_field(form.name) }}
            {{ render_field(form.asn) }}
            {{ render_field(form.policy) }}
            {{ render_field(form.ipv4prefixes) }}
            {{ render_field(form.ipv6prefixes) }}
            {{ render_field(form.as_set) }}
            {{ render_field(form.Peered_IPv4) }}
            {{ render_field(form.Peered_IPv6) }}
        </dl>
        {# <p><input type="submit" value="submit"></p> #}
        <p>{{ form.submit() }}</p>
</form>
{% endblock %}

