{% extends "base.html" %}

{% block app_content %}
    <h1>Available Peers</h1>
    <h2>Exchanges</h2>
    {% from "_formhelpers.html" import render_field %}
    <form action="" method="post">
        <dl>
            {# {{ render_field(form.select) }} #}
            {{ render_field(form.exchange) }}
            {# {{ render_field(form.search) }} #}
        </dl>
        <p> <input type=submit value=search>
    </form>
    <form action="" method="post">
        <dl>
            {{ render_field(form.select) }}
            <p>
            {{ render_field(form.search) }}
            </p>
        </dl>
        <p><input type=submit value=search>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}
